body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  margin: 0;
}

ul li {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: block;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*======Header====== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
  0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
  0px 2px 1px 0px  rgba(46, 47, 66, 0.08);

}

.page-header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

.page-navigation{
  display: flex;
  align-items: center;
  }


.logo-web {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  flex-shrink: 0;
  padding: 16px 0;
  }

.logo-studio {
  color: #2e2f42;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-list{
  display: none;
}


/*====== Contacts======= */
.contacts {
  display: none;
  font-style: normal;
  margin-left: auto;
}

.open-menu-btn{
  padding: 0;
  line-height: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
 .nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  color: #2e2f42;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-navigation .nav-link:hover,
.page-navigation .nav-link:focus {
  color: #404bbf;
}

.current {
  color: #404BBF;
}

.current::after {
  width: 48px;
  height: 4px;
  background-color: #404BBF;
  content: "";
  position: absolute;
  display: block;
  left: 0;
  border-radius: 2px;
  bottom: -1px;
}

.logo-web {
  margin-right: 120px;
}

.contacts{
  display: block;
}

.contacts-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.contacts-link {
  color: #434455;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.open-menu-btn {
  display: none;
}
}

@media screen and (min-width: 1158px) {
  
  .logo-web{
  margin-right: 76px;
  }
  
  .contacts-list {
  flex-direction: row;
  gap: 40px;
}

  .contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  }
}

/*====Section 1 hero===== */

.hero {
  padding: 188px 0;
  background: #2e2f42;
  background-image: 
  linear-gradient(to bottom,
   rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)
  ),
  url(../images/peopleoffice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button {
  cursor: pointer;
  color: #fff;
  background: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px; 
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* ================== */


/*===Section 2 Our strengths===*/
.section-strengths{ 
  /* padding: 120px 0; */
  padding: 96px 0;
}

.strengths-list{
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  /* gap: 24px; */

}

 .strengths-item{
width: 100%;
}

.trengths-icon-container{
  display: none;
border-radius: 4px;
border: 1px solid #8E8F99;
background: #F4F4FD;
width: 264px;
height: 112px;
padding: 24px 100px;
margin-bottom: 8px;
justify-content: center;
align-items: center;
}

 .strengths-icon{
  width: 64px;
  height: 64px;align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  color: #2E2F42;
  content: "";
} 

.strengths-title {
  margin-bottom: 8px;
  color:#2E2F42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

}

.strengths-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
 
  .strengths-list {
    column-gap: 24px;
    row-gap: 72px;

  }

  .strengths-item {
    width: calc((100% - 24px) / 2);
  }

  .strengths-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {

  .section-strengths {
    padding: 120px 0;
  }

  .strengths-list {
    gap: 24px;
  }

  .strengths-item {
    width: calc((100% - 72px) / 4);
  }

  .trengths-icon-container {
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .strengths-icon {
    width: 64px;
    height: 64px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    color: #2E2F42;
    content: "";
  }

  .strengths-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
/* =============== */


/*===Section 3 Our Team===*/
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.second-title {
  color: #2e2f42;
  background: #f4f4fd;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list .team-item {
  background-color: #FFF;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
 

 .picture-team {
   width: 100%;
  }
 

  .name-team{
  padding: 32px 0;
  width: 232px;
  margin: 0 auto;
}

  .team-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

  .team-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.picture-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.picture-list-icon{
width: 40px;
 height: 40px;
}

 .team-list .team-item{
  display: block;
}

.team-link{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #4D5AE5;
  border-radius: 50%;
  padding: 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus{
  background-color: #404BBF;
}

.team-icon{
  content: "";
  fill:  #F4F4FD;
  background-position: center;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;

}
/* =============== */


/*===Section 4 Our Portfolio===*/

.portfolio{
  padding: 120px 0 120px 0
}

.second-portfolio-title{
  color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
  padding-right: 0;
 }

 .portfolio-list .portfolio-item{
  width: calc((100% - 48px) / 3);
  display: block;
 }

 .container-overlay{
  position: relative;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .portfolio-item:hover .overlay {
   transform: translateY(0);
 }

 .overlay {
    background-color: #4d5ae5;;
    color: #f4f4fd;;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item{
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
  0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
  0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.picture-portfolio{
  flex-shrink: 0;
}

.portfolio-card{
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ================ */


/*=====Footer=====*/

.logo-discription {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-one{
  display: flex;
  align-items: baseline;
  }


.footer-logo{
  width: 264px;
  margin-right: 120px;
}

.logo-web-footer{
  color: #4D5AE5;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex-shrink: 0;
  display: inline-block;
  margin-bottom: 16px;
}

.second-logostudio {
  color: #F4F4FD
}

.foorer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}


.footer-icon-text{
 color: #FFF;
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.02em;
 margin-bottom: 16px;
}

.footer-icon{
  display: flex;
  gap: 16px;
}

.picture-footer-icon{
  width: 40px;
  height: 40px;
}

.footer-link{
  display: flex;
 width: 100%;
 height: 100%;
 flex-shrink: 0;
 background-color: #4D5AE5;
 border-radius: 50%;
 justify-content: center;
 align-items: center;
 padding: 8px;
 transition-property: background-color;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31D0AA;
}

/* -----footer input----- */

.footer-input{
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.mail-input{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
}

.form{
  display: flex;
  max-width: 453px;
  gap: 24px;
  align-items: baseline;
}

.footer-label{
  display: flex;
  gap: 24px;
}

.form-input{
  border: 1px solid white;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background: var(--navy-blue);
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: white;
}

 .input::placeholder {
  color: white;
  }

  .footer-button-input{
    display: flex;
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
    cursor: pointer;
    background-color: #4D5AE5;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
  }

  .subscribe-icon{
    margin-left: 16px;
  }

  /*Modal */

  .backdrop{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.40);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  }

  .modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background:  #FCFCFC;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .modal-btn{
  display: flex;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);;
  cursor: pointer;
  background-color: #E7E9FC;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-btn:hover,
  .modal-btn:focus{
   background-color: #404BBF;
   border: none;
 }

 .modal-close{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-btn:hover > .modal-close,
 .modal-btn:focus > .modal-close{
   fill: #FFFFFF;
 }

 .modal-text{
  margin-bottom: 16px;
  color:#2E2F42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
 }

.input-container{
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  color: #8E8F99;
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  line-height: 1.17;
  }

  .modal-input-wrap{
  position: relative;
  margin-top: 4px;
    }

 .modal-input{
  width: 100%;
  height: 40px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .modal-input:focus{
  border-color: #4D5AE5;
 }

 .modal-input:focus + .modal-icon{
  fill: #4D5AE5;
 }

 .modal-icon{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .textarea-container{
  margin-bottom: 16px;
 }

 .modal-textarea{
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.40);
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  outline: transparent;
  padding:8px 16px ;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.modal-textarea:focus{
  border-color: #4D5AE5;
}

.accept{
  margin-bottom: 24px;
}

.check-text{
  color: #8E8F99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}


.label-link{
  color: #4D5AE5;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.span-icon{
 width: 16px;
 height: 16px;
 border: 1px solid rgba(46, 47, 66, 0.40);
 border-radius: 2px;
 margin-right: 8px;
 display: inline-flex;
 align-items: center;
 justify-content: center;
 fill: transparent;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
 border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
 fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-inpiut:checked + .check-text span {
 background-color: #404BBF;
 fill: #F4F4FD;;
 border: none;
}

.modal-button{
  border-radius: 4px;
  background: #4D5AE5;
  padding: 16px 32px;
  font-weight: 500;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  margin: 0 auto;
  border: none;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

